# Выбор числа соседей

###### Импорт необходимых библиотек

In [64]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import scale
from sklearn.model_selection import KFold, cross_val_score
from sklearn.neighbors import KNeighborsClassifier

###### Загрузка датасета

In [19]:
df = pd.read_csv('wine.data', header=None)
df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

###### Разбиение датасета на классы $y$ и признаки $X$

In [33]:
y = df[0]
X = df.drop(0, axis=1)
X.describe()

,1,2,3,4,5,6,7,8,9,10,11,12,13
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

###### Использование метода k ближайших соседей при кросс-валидации на 5 блоков и различных k

In [37]:
# Стратегия кросс-валидации
cv = KFold(n_splits=5, shuffle=True, random_state=42)

In [52]:
# Оценки кросс-валидации при различных от 1 до 50
scores = np.empty(0)
for k in range(1, 51):
    score = cross_val_score(KNeighborsClassifier(n_neighbors=k), X, y, scoring='accuracy', cv=cv).mean()
    scores = np.append(scores, score)

In [63]:
optim_k = int(np.where(scores == np.amax(scores))[0] + 1)
print('Оптимальное значение k -', optim_k)
print('Оптимальное качество -', round(np.amax(scores), 2))

Оптимальное значение k - 1
Оптимальное качество - 0.73

###### Использование метода k ближайших соседей при нормировке признаков

In [66]:
# Нормирование признаков
X_norm = scale(X)

In [67]:
# Оценки кросс-валидации при различных от 1 до 50
scores_norm = np.empty(0)
for k in range(1, 51):
    score = cross_val_score(KNeighborsClassifier(n_neighbors=k), X_norm, y, scoring='accuracy', cv=cv).mean()
    scores_norm = np.append(scores_norm, score)

In [69]:
optim_k = int(np.where(scores_norm == np.amax(scores_norm))[0] + 1)
print('Оптимальное значение k после нормировки признаков -', optim_k)
print('Оптимальное качество после нормировки признаков -', round(np.amax(scores_norm), 2))

Оптимальное значение k после нормировки признаков - 29
Оптимальное качество после нормировки признаков - 0.98